- server = local_assigns.fetch(:server)

= form_tag(omniauth_callback_path(:user, server['provider_name']), id: 'new_ldap_user', class: "gl-show-field-errors") do
  .form-group
    = label_tag :username, "#{server['label']} 用户名"
    = text_field_tag :username, nil, { class: "form-control top", title: "必填项", autofocus: "autofocus", data: { qa_selector: 'username_field' }, required: true }
  .form-group
    = label_tag :password
    = password_field_tag :password, nil, { class: "form-control bottom", title: "必填项", data: { qa_selector: 'password_field' }, required: true }
  - if devise_mapping.rememberable?
    .remember-me
      %label{ for: "remember_me" }
        = check_box_tag :remember_me, '1', false, id: 'remember_me'
        %span 自动登录
  = submit_tag "登录", class: "btn-success btn", data: { qa_selector: 'sign_in_button' }
